# Environment files (The most important part)
.env
.env/
.env.local
.env.*
!.env.example  # Keep the template, but ignore the actual secrets

# Python virtual environments
venv/
env/
.venv/
ENV/
.match.json
**/*.pyc
